$corFundo: rgb(247, 233, 221);
$corLaranja: rgb(239, 116, 98);
$corLaranjaHover: rgb(255, 154, 138);
$corMarron: rgb(57, 35, 22);
$corAzul: rgb(114, 181, 187);
$corAzulHover: rgb(178, 223, 228);
$corTexto: rgb(130, 124, 116);
$corCard: rgb(255, 252, 247)